<% if @native_token %>
  <div class="row">
    <%= render partial: 'cse30/trc20token/token_statistics' %>
  </div>
<% else %>
  <div class="row">
    <%= render partial: 'cse30/trc20token/token_attributes' %>
    <%= render partial: 'cse30/trc20token/token_statistics' %>
  </div>
<% end  %>