
<%#= render partial: 'cse30/address/balance' %>
<div class="row">
  <%#= render partial: 'cse30/smart_contract/smart_contract_attributes' %>
  <%= render partial: 'cse30/smart_contract/smart_contract_statistics' %>
</div>

<%= render partial: 'cse30/smart_contract/smart_contract_calls_by_time' %>