<div class="row">
  <%= render partial: 'cse30/network/trades_by_time' %>
  <%= render partial: 'cse30/network/trades_by_currencies' %>
</div>
<%= render partial: 'cse30/network/trades_currencies' %>
<%= render partial: 'cse30/network/trades_table' %>