<%= render partial: 'openchain/trc20token/transfers' %>

<div class="row">
  <%= render partial: 'openchain/trc20token/transfers_by_time' %>
  <%= render partial: 'openchain/trc20token/max_transfers_by_time' %>
</div>